body{
  background-color: #DFF6FF;
  display: block;
  margin: 8px;
}

hr{
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  border-style: dotted;
  border-bottom-style: none;
  border-width: 10px;
  border-color: grey;
  height: 1px;
  width: 5%;
}

h1{
  color: #66BFBF;
  font-family: arial;
}

h3{
  color: #66BFBF;
  font-family: arial;
}
