body{
  background-color: #DFF6FF;
  display: block;
  margin: 8px;
}

#pic_profile{
  border-radius: 100%;
}

hr {
  display: block;
  margin-left: 16px;
  margin-top: 16px;
  margin-bottom: 1em;
  border-style: dotted;
  border-bottom-style: none;
  border-width: 5px;
  border-color: grey;
  height: 1px;
  width: 10%;
}

h1{
  color: #66BFBF;
  font-family: arial;
}

h3{
  color: #66BFBF;
  font-family: arial;
}
